body {
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: system-ui, Helvetica, Arial, sans-serif;
}

:root,
body,
html {
    background-color: #f4f2ee;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
img,
i,
label,
li,
p,
small,
nav,
span,
ul {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    scroll-behavior: smooth;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}